div{
    border: 2px solid magenta;
    margin: 30px 40px;
    padding: 15px;
    background-color: rgba(22, 61, 255, 0.4);
    border-radius: 15px;
    box-shadow: 2px 1px magenta;
}
#usuario{
    float: left;
    width:15%;
    border-radius: 100%;
}
body{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(to right, darkred,red,darkred);
}
h1, h2, h3 {
    text-shadow: 2px 3px magenta;
}
.tituloPrincipal{
    font-weight: bold;
}
.principal{
    background-color: blueviolet;
}